.previewr-container {
  display: flex;
  flex-direction: column;
  max-width: 22vw;
  min-width: 22vw;
  height: 100vh;
  overflow: auto;
  border-right: 1px solid black;
  padding-right: 10px;
  background-color: transparent;
}

p {
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  font-size: 1rem;
  font-weight: 600;
}
