.search-container {
  border: 1px solid black;
  width: 400px;
  height: 250px;
  overflow: auto;
}

span {
  cursor: default;
}

textarea {
  width: 90%;
  resize: none;
  height: 65vh;
  overflow: auto;
}

button {
  width: 5rem;
  height: 3rem;
  padding: 6px;
  font-size: 12px;
  &:hover {
    background-color: #ccd0d3;
    color: #333;
  }
}
