<div class="flex column">
  <input [(ngModel)]="searchInput" (input)="searchMusic()" type="text" />
  <!-- <textarea
    [(ngModel)]="songLyrics"
    placeholder="Digite a letra da música aqui..."
    rows="10"
    cols="50"
    (input)="processLyrics()"
  ></textarea> -->

  <!-- <button type="submit">Adicionar Música</button> -->

  <div class="search-container">
    <div class="flex column gap-3" *ngFor="let music of musicSearchResults">
      <span (dblclick)="doubleClickAction(music)">
        {{ music.title }}
      </span>
    </div>
  </div>
</div>
