.search-container {
  border: 1px solid black;
  width: 400px;
  height: 250px;
  overflow: auto;
}

span {
  cursor: default;
}

textarea {
  width: 90%;
  resize: none;
  height: 65vh;
  overflow: auto;
}
