* {
  background-color: #d3d3d30a;
}
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}
.space-between{
  justify-content: space-between;
}

.music-selected {
  background-color: #f0f8ff;
  color: #333;
  font-weight: bold;
  border: 1px solid #007acc;
  padding: 5px;
  border-radius: 5px;
}

@for $i from 1 through 30 {
  .gap-#{$i} {
    margin-top: #{$i * 1}px;
  }
}

@for $i from 1 through 30 {
  .mt-#{$i} {
    margin-top: #{$i * 1}px;
  }
}

@for $i from 1 through 30 {
  .mb-#{$i} {
    margin-bottom: #{$i * 1}px;
  }
}
