* {
  background-color: #d3d3d30a;
}
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

@for $i from 1 through 30 {
  .gap-#{$i} {
    margin-top: #{$i * 1}px;
  }
}

@for $i from 1 through 30 {
  .mt-#{$i} {
    margin-top: #{$i * 1}px;
  }
}

@for $i from 1 through 30 {
  .mb-#{$i} {
    margin-bottom: #{$i * 1}px;
  }
}
